body {
    background: #fff;
    padding-bottom: 60px;
}

img {
    /*display: block;*/
    /*margin: 10px auto;*/
}

form, p {
    text-shadow: #fff 0 1px 0;
    font: 14px/23px Segoe UI,Helvetica,Arial,sans-serif;
}

h3 {
    margin: 0 0 15px;
    font: 24px/39px Segoe UI,Helvetica,Arial,sans-serif;
}

h2 {
    margin: 15px 0;
    font: 48px/78px Segoe UI,Helvetica,Arial,sans-serif;
    text-shadow: 0 1px 0 white,0 -1px 0 #111;
}

    h2 strong {
        font-weight: 700;
    }

h4 {
    font: 600 16px/26px Segoe UI,Helvetica,Arial,sans-serif;
}

.navbar {
    margin: 0;
}

.navbar-inner {
    background: transparent;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    filter: none;
    background: #eee;
    border: 0;
    border-bottom: 1px solid #ccc;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

.navbar .brand {
    font: 600 28px/65px Segoe UI Light,Segoe UI,Helvetica,Arial,sans-serif;
    color: #111;
    text-shadow: 0 1px 0 white;
    padding: 0;
    margin-left: 0;
}

    .navbar .brand [class^="m-icon-big-"] {
        margin-top: 20px;
        margin-bottom: 18px;
    }

.navbar .nav {
    float: right;
    display: inline-block;
}

    .navbar .nav li {
        margin-left: 15px;
        line-height: 48px;
    }

    .navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus {
        color: #222;
        background: 0;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

.white-box {
    background: #fff;
    text-shadow: 0 1px 0 white;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid #ccc;
    margin: 60px 0;
}

    .white-box h3 {
        font: 400 24px/39px Segoe UI,Helvetica,Arial,sans-serif;
        margin-bottom: 15px;
        text-align: left;
    }

    .white-box .row {
        margin-left: 0;
        background: white url("../img/f-bg.png") bottom repeat-x;
    }

        .white-box .row.feature-row {
            height: 150px;
            overflow: hidden;
        }

        .white-box .row:first-child, .white-box .row + .row {
            padding-top: 40px;
            padding-bottom: 40px;
        }

        .white-box .row + .row {
            border-top: 1px solid #eee;
        }

        .white-box .row.box-title {
            height: auto;
        }

    .white-box .box-title .span12 {
        margin-left: 0;
    }

    .white-box .box-title h3 {
        text-align: center;
        margin-bottom: 0;
    }

    .white-box .shadow-img {
        box-shadow: rgba(0,0,0,0.25) 0 -1px 8px;
        -moz-box-shadow: rgba(0,0,0,0.25) 0 -1px 8px;
        -webkit-box-shadow: rgba(0,0,0,0.25) 0 -1px 8px;
    }

.logo-list img {
    display: inline-block;
    padding: 6px 18px;
    margin: 4px 0;
}

.newsletter-box {
    background: #fff url("../img/stripe-bg.png") -2px 0 repeat-x;
    box-shadow: rgba(0,0,0,0.3) 0 2px 7px;
    -moz-box-shadow: rgba(0,0,0,0.3) 0 2px 7px;
    -webkit-box-shadow: rgba(0,0,0,0.3) 0 2px 7px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 28px 0;
}

    .newsletter-box form {
        margin-bottom: 0;
    }

    .newsletter-box input, .newsletter-box button, .newsletter-box a .btn, .newsletter-box a .m-btn {
        margin-top: 8px;
    }

p.btn-notes {
    font: 12px/19px Segoe UI,Helvetica,Arial,sans-serif;
    margin-top: 5px;
}

.header {
    padding-top: 50px;
    padding-bottom: 50px;
    overflow: hidden;
    background: url("../img/headbg.png");
    -moz-box-shadow: inset 0 0 15px 1px rgba(0,0,0,0.8);
    -webkit-box-shadow: inset 0 0 15px 1px rgba(0,0,0,0.8);
    -o-box-shadow: inset 0 0 15px 1px rgba(0,0,0,0.8);
    box-shadow: inset 0 0 15px 1px rgba(0,0,0,0.8);
    border-bottom: 3px solid #d84a38;
}

    .header .m-btn {
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .header p.btn-notes {
        margin-top: -5px;
        color: #999;
    }

        .header p.btn-notes a {
            color: #ddd;
        }

            .header p.btn-notes a:hover {
                color: #eee;
            }

    .header h3, .header h2, .header h4, .header p {
        text-shadow: none;
        color: #eaeaea;
    }

.social {
    padding: 8px 0;
    text-align: center;
    background-color: #eee;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #ccc;
    margin-bottom: 30px;
}

.social-buttons {
    margin-left: 0;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}

    .social-buttons li {
        display: inline-block;
        padding: 5px 8px;
        line-height: 1;
        *display: inline;
        *zoom: 1;
    }

.action-button, .center {
    text-align: center;
}

.right {
    text-align: right;
}

.action-button {
    margin: 40px 0;
}

.header .action-button {
    margin-bottom: 0;
}

hr.soft {
    height: 1px;
    margin: 40px 0;
    background-image: -webkit-linear-gradient(left,transparent,rgba(0,0,0,.3),transparent);
    background-image: -moz-linear-gradient(left,transparent,rgba(0,0,0,.3),transparent);
    background-image: -ms-linear-gradient(left,transparent,rgba(0,0,0,.3),transparent);
    background-image: -o-linear-gradient(left,transparent,rgba(0,0,0,.3),transparent);
    border: 0;
}

footer {
    color: #666;
}

    footer li {
        list-style-type: none;
        font: 14px/23px Segoe UI,Helvetica,Arial,sans-serif;
    }

    footer p {
        margin-top: 20px;
    }

.white-well {
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    color: #333;
    width: 340px;
    background: #fafafa;
    -webkit-box-shadow: 0 4px 10px rgba(0,0,0,1);
    -moz-box-shadow: 0 4px 10px rgba(0,0,0,1);
    box-shadow: 0 4px 10px rgba(0,0,0,1);
}

    .white-well p {
        position: relative;
        padding: 6px 0 6px 30px;
        color: #333;
        text-decoration: none;
        display: block;
        clear: both;
        font-weight: normal;
        line-height: 18px;
        white-space: nowrap;
    }

    .white-well li [class^="icon-"] {
        position: relative;
        left: 0;
        top: 2px;
    }

    .white-well li.active {
        border-left: 8px solid #d84a38;
        padding-left: 6px;
        box-shadow: rgba(0,0,0,0.4) 0 2px 7px;
        -moz-box-shadow: rgba(0,0,0,0.4) 0 2px 7px;
        -webkit-box-shadow: rgba(0,0,0,0.4) 0 2px 7px;
    }

    .white-well li:hover {
        cursor: pointer;
        box-shadow: rgba(0,0,0,0.2) 0 2px 7px;
        -moz-box-shadow: rgba(0,0,0,0.2) 0 2px 7px;
        -webkit-box-shadow: rgba(0,0,0,0.2) 0 2px 7px;
    }

    .white-well ul, footer ul {
        margin-bottom: 0;
        margin-left: 0;
    }

    .white-well li {
        border-left: 8px solid #ccc;
        padding-left: 6px;
        list-style-type: none;
        line-height: 30px;
        font: 15px/40px Segoe UI,Helvetica,Arial,sans-serif;
    }

#featurepics {
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 20px;
    height: 320px;
    width: 480px;
    position: relative;
}

    #featurepics img.active {
        opacity: 1;
    }

    #featurepics img.feature-picholder {
        opacity: 0;
        z-index: 1;
    }

    #featurepics .featureshots {
        background: no-repeat center center;
        left: 0;
        opacity: 0;
        top: 0;
        position: absolute;
        transition: opacity .6s;
        -moz-transition: opacity .6s;
        -webkit-transition: opacity .6s;
    }

@media(min-width:1200px) {
    .navbar-inner .container {
        width: 940px;
    }
}

@media(min-width:979px) and (max-width:1200px) {
    .navbar-inner .container {
        width: 940px;
    }
}

@media(min-width:768px) and (max-width:978px) {
    .white-box .row.feature-row {
        height: 200px;
    }

    .row.box-title {
        height: auto;
    }

    .header [class*="span"], .header .row-fluid [class*="span"] {
        float: none;
        display: block;
        width: 100%;
        margin-left: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }
}

@media(max-width:767px) {
    body {
        padding-left: 8px;
        padding-right: 8px;
    }

    .container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .header, .navbar, .social {
        margin-right: -8px;
        margin-left: -8px;
    }

    .white-box .row.box-title, .white-box .row.feature-row {
        margin-right: -15px;
        margin-left: -15px;
        height: auto;
    }

    .white-box {
        padding-left: 15px;
        padding-right: 15px;
    }

        .white-box img {
            margin: 40px auto;
        }

    .navbar .brand {
        float: none;
        margin-bottom: 0;
    }

    .navbar .nav {
        clear: both;
        float: none;
        margin-top: 0;
    }

        .navbar .nav li {
            float: left;
            padding: 6px 36px 6px 0;
            margin: 4px 0;
            line-height: 20px;
        }

            .navbar .nav li a {
                text-align: left;
                padding-left: 0;
                padding-right: 0;
            }

    .row {
        padding-right: 10px;
        padding-left: 10px;
    }

    #featurepics, .white-well {
        height: auto;
        width: auto;
    }
}

@media(max-width:480px) {
    h2 {
        font-size: 30px;
        line-height: 49px;
    }

    h3 {
        font-size: 18px;
        line-height: 29px;
    }

    .m-btn.big {
        display: block;
    }
}
