﻿@*
    How to create a page template?
    http://www.bettercms.com/documentation/templates
    http://www.devbridge.com/articles/better-cms-for-developers/    
*@

@using BetterCms.Module.Blog.Helpers.Extensions
@using BetterCms.Module.Pages.Helpers.Extensions

@model BetterCms.Module.Root.ViewModels.Cms.RenderPageViewModel

@{
    Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml";
}

<h2>GeoLayout</h2>
<p>@Model.Title</p>
<p>@Model.Id</p>

<div>
    @RenderSection("CmsContent", false)
</div>