﻿@{
    Layout = "~/Views/Templates/StyritMaster.cshtml";
}

@section MainContent {
    <header class="header">
        <div class="container">
            <div class="row">
                <div class="span7">
                    @RenderSection("HeaderContentLeft", false)
                </div>
                <div class="offset1 span4 center">
                    @RenderSection("HeaderContentReight", false)
                </div>
            </div>
        </div>
    </header>

    <section class="container">
        <div class="row">
            <article class="span12">
                <br />
                @RenderSection("CmsContent", false)
            </article>
        </div>
        @*<hr class="soft" />*@
    </section>
}

@*@RenderBody()*@