﻿@{
    Layout = "~/Views/Templates/StyritMaster.cshtml";
}

@section MainContent {
    <section class="container">
        <div class="row">
            <article class="span12">
                <br />
                @RenderSection("CmsContent", false)
            </article>
        </div>
        @*<hr class="soft" />*@
    </section>
}

@*@RenderBody()*@

