﻿@*
    How to create a page template?
    http://www.bettercms.com/documentation/templates
    http://www.devbridge.com/articles/better-cms-for-developers/
*@

@using BetterCms.Module.Blog.Helpers.Extensions
@using BetterCms.Module.Pages.Helpers.Extensions

@model BetterCms.Module.Root.ViewModels.Cms.RenderPageViewModel

@{
    Layout = "~/Areas/bcms-Root/Views/Shared/BaseLayout.cshtml";
}

@section HtmlTag
{
    <!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
    <!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
    <!--[if !IE]><!-->
    <html lang="en">
    <!--<![endif]-->
}

@section HeadScripts {

}

@section Styles
{
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Styrit</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="~/Assets/Styrit/img/favicon.png" type="image/png" />
    <link rel="stylesheet" href="~/Assets/Styrit/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/Assets/Styrit/css/m-buttons.css" type="text/css" />
    <link rel="stylesheet" href="~/Assets/Styrit/css/m-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/Assets/Styrit/css/styles.css" type="text/css" />
}

<div class="navbar">
    <div class="navbar-inner">
        <div class="container">
            <a href="/" class="brand">Styrit <i class="m-icon-big-styrit"></i></a>
            <ul class="nav">
                @*<li class="active"><a href="#">Home </a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Company</a></li>*@

                @{ Html.RenderAction("Index", "SiteMap2", new { actualPageId = Model.PageData.Id }); }

            </ul>
        </div>
    </div>
</div>

@RenderSection("MainContent", false)
@*@RenderBody()*@

@*
    <section class="container">
        <div class="row">
            <div class="span12 center newsletter-box">
                <div class="row">
                    <form class="form-inline">
                        <p>
                            Get the latest updates about <strong>MySurfaceApp</strong>. Join our mailing list!
                        </p>

                        <input type="text" placeholder="Your email address.." />
                        <button type="submit" class="btn">Notify Me! <i class="icon-envelope"></i></button>

                    </form>
                </div>
            </div>
        </div>
    </section>

    <footer class="container">
        <div class="row">
            <div class="span2">
                <p>
                    <strong>Company</strong>
                </p>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Contact</a></li>
                    <li><a href="#">Team</a></li>
                </ul>
            </div>
            <div class="span2">
                <p>
                    <strong>MySurfaceApp</strong>
                </p>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Support</a></li>
                    <li><a href="#">Features</a></li>
                    <li><a href="#">About</a></li>
                </ul>
            </div>
            <div class="span8">
                <p class="pull-right">Designed by Ace Subido. </p>
            </div>
        </div>
    </footer>
*@
